# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE Folders
*.vscode
*.idea/
.gitignore

# Beatbox Project Files
*.pt
*.wav
.gitignore
beatbox.jucer
BeatboxGan/build/BeatboxGan
BeatboxGan/build/CMakeCache.txt
BeatboxGan/build/CMakeFiles/
BeatboxGan/build/Makefile
BeatboxGan/build/cmake_install.cmake
Builds/LinuxMakefile/build/
